.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  .logo {
    border-right: 1px solid #efefef;

    max-width: 300px;
    width: 100%;
  }
  .user {
    display: flex;
    align-items: center;
  }
  input {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 50px;
    background: url(icons/Header/Search.svg) 98% 50% no-repeat;
    border-radius: 10px;
    padding-left: 25px;
    margin: 0 15px;
    border: 1px solid #efefef;

    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  }
}
